@import url(http://fonts.googleapis.com/css?family=Josefin+Sans:300,600);

// Colour scheme:
$dark: #222;
$medium: #989898;
$color-light: #f8f8f8;
$design: #F8E71C;
$development: #820817;
$dave: #417505;

// Font family
$title: Gill Sans, Helvetica Neue, Arial, sans serif;
$text: 'Josefin Sans', Gill Sans, Helvetica Neue, Arial, sans serif;

// Font size
$font-size: 16px;

// Font weights
$light: 300;
$regular: 600;
$bold: 600;

// Line height
$line-height: 1.5;

// Margins
$margin: 1em;

// Break points
$break1: 25em;
$break2: 35em;
$break3: 45em;
$break4: 55em;
$break5: 65em;